<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380623468019-97p2p0a775va18imk31fu33557c6trtu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380623468019-97p2p0a775va18imk31fu33557c6trtu</string>
	<key>API_KEY</key>
	<string>AIzaSyAtjd3mUji9-sLivj0dLzE5cjs53e-BTg4</string>
	<key>GCM_SENDER_ID</key>
	<string>380623468019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fiwi</string>
	<key>PROJECT_ID</key>
	<string>fiwi-7c575</string>
	<key>STORAGE_BUCKET</key>
	<string>fiwi-7c575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380623468019:ios:c1c2adf626a87765ad8e86</string>
</dict>
</plist>